input{
    margin: 10px;
}
#submit_buttton{
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: italic;
}
#sort_button{
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
}